
<br>
<h5>News</h5>
<br>

<app-header></app-header>


<div *ngIf="news.length === 0;
    else newsList" class="alert alert-info">
    No News added yet!
</div>

<ng-template #newsList>
    <!-- <div class="card">
        <div class="card-body">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="query">
        </div>
    </div>
    <br> -->
    <tr>
    
        <th>Title</th>
        <th>Description</th>
        <th>Published At</th>
   
</tr>
<!-- </div> -->

        <!-- <app-shopping-list-item [productItem]="product"></app-shopping-list-item> -->
    
        <tr>
            <ul class="list-group fafa">
                <li class="list-group-item fafa" *ngFor="let n of news">
       
            <td>{{n.title}}</td>
            <td>{{n.description}}</td>
            <td>{{n.publishedAt}}</td>
    </ul>

</ng-template>
