<div class="row">
  <div class="col-md-4">
    <form (submit)="handleSubmit()">
      <div class="form-group">
        <input type="text" name="userName" class="form-control" placeholder="Enter Username" [(ngModel)]="userName">
      </div>

      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Enter Password" [(ngModel)]="password">
      </div>

      <button class="btn btn-primary">Login</button>
     <!--  <button class= "btn btn-link float-right" [routerLink]="['/register']">Register</button> -->

    </form>
  </div>
</div>
