<app-header></app-header>
<div class="container">
    <h1>Sport News</h1>
    <hr>
    <div class="row">
        <div class="col-md-4"  *ngFor="let n of news">
            <div class="card">
              <div class="card-header" style="font-style:italic"><b>{{n.title}}</b></div>
              <img class="card-img-top" src={{n.urlToImage}} alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{n.description}}</p>
                </div>
                <div class="card-footer text-muted">
                  Want to read more? <a class="btn btn-link btn-md" href={{n.url}} role="button">Click Here!</a>
                </div>
              </div>
        </div>
    </div>
</div>
<br><br>