<html ang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Media App</title>
    <link rel="stylesheet" href="./about-us.component.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <app-header></app-header>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.34592205978!2d-73.99850268459714!3d40.64430447933925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25ace6bebd029%3A0xafd71891ba66f050!2s4123%209th%20Ave%2C%20Brooklyn%2C%20NY%2011232!5e0!3m2!1sen!2sus!4v1586892922916!5m2!1sen!2sus"></iframe>
            </div>

            <div class="col-md-4">

                <div class="card" style="margin: 5px; width: 110%">
                    <div class="card-body">
                        <!--Header-->
                        <div class="form-header blue accent-1">
                                <h3  align="center">
                                    OUR MISSION
                                </h3>

                        </div>
                        <p>
                            We believe in providing quality news 24/7. With the recent
                            unrevealing of fake news by the President of certain news casts,
                            we feel that it is our duty to report the news unbiased, unfiltered,
                            24/7, where you want it when you want it. Our headquarters is located
                            at 4123 9th ave 1st FL. Please feel free to visit us during normal visiting
                            hours.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>