<html ang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>Media App</title>
    <link rel="stylesheet" href="aboutus_styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

    <section class="section pb-5">

        <div class="row">

            <div class="col-lg-7" style="box-shadow: 10px 10px 5px darkkhaki;">
                <div id="map-container-google-11" class="z-depth-1-half map-container-6"
                    style="height: 350px; margin: 10px;">


                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3027.3457374373484!2d-73.99850268557488!3d40.64430854969265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25ace6bebd029%3A0xafd71891ba66f050!2s4123%209th%20Ave%2C%20Brooklyn%2C%20NY%2011232!5e0!3m2!1sen!2sus!4v1586800915117!5m2!1sen!2sus"
                        width="550" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>



                </div>

                <div class="row text-center">
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                        <p>Brooklyn, NY 11232</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-5 mb-4">
                <div class="card" style="margin: 10px; box-shadow: 10px 10px 5px darkkhaki;">
                    <div class="card-body">
                        <div class="form-header blue accent-1">
                            <h3>
                                About Us
                            </h3>
                        </div>

                        <p>
                            At mediaapp, we come to work because we believe that the community deserves to
                            get the accurate information for all their news. Whether its related to the presidential
                            campaign
                            or just finding out the sports news, we promise to ensure accurate, unbias news.
                        </p>

                    </div>
                </div>

            </div>

        </div>
    </section>

</body>

</html>