<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps Test</title>
</head>

<body>
    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="680" height="574" id="gmap_canvas"
                src="https://maps.google.com/maps?q=1000%20summit%20dr%2C%20Milford%2C%20OH%2C45150&t=&z=15&ie=UTF8&iwloc=&output=embed"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                href="https://www.emojilib.com"></a></div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 574px;
                width: 680px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 574px;
                width: 680px;
            }
        </style>
    </div>
</body>

</html>