<app-admin-header></app-admin-header>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-alert></app-alert>
        </div>
    </div>

    
    

    <div class="row">
        <div class="col">
            <div *ngIf="news.length === 0;
                else newsList" class="alert alert-info">
                No News added yet!
            </div>

            <ng-template #newsList>

                <div class="row">

                    <div class="col">
                        <div class="form-group">
                             <label for="type">Total <span class="badge">{{news.length}}</span> entries</label>

                            <select class="custom-select" name="type" [(ngModel)]="selectedAmount" (change)="handleEntryNChange()">
                                <option value="5">5 entries</option>
                                <option value="10" selected>10 entries</option>
                                <option value="20">20 entries</option>
                                <option value="all">Show All entries</option>

                              </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="query">
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-3">Title</div>
                        <div class="col-5">Description</div>
                        <div class="col-2">Published At</div>
                        <div class="col-2">Edit/Delete</div>
                    </div>
                </div>
                <ul class="list-group fafa">
                    <li class="list-group-item fafa" *ngFor="let n of selectedNews | search:query">
                        <app-edit-news-item [editNewsItem]="n"></app-edit-news-item>
                    </li>
                </ul>
            </ng-template>

        </div>
    </div>
</div>

<br><br>
