<app-admin-header></app-admin-header>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-alert></app-alert>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div *ngIf="news.length === 0;
                else newsList" class="alert alert-info">
                No News added yet!
            </div>

            <ng-template #newsList>
                <div class="card">
                    <div class="card-body">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="query">
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-3">Title</div>
                        <div class="col-5">Description</div>
                        <div class="col-2">Published At</div>
                        <div class="col-2">Edit/Delete</div>
                    </div>
                </div>
                <ul class="list-group fafa">
                    <li class="list-group-item fafa" *ngFor="let n of news | search:query">
                        <app-edit-news-item [editNewsItem]="n"></app-edit-news-item>
                    </li>
                </ul>
            </ng-template>

        </div>
    </div>
</div>
