<html ang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <app-header></app-header>

    <div class="container">

        <br><br><br>

        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <h5> Contact Us </h5>
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <form (submit)="handleSubmit()">
                                    <div class="form-group">
                                        <label for="contact_name">Name</label>
                                        <input type="text" id="contact_name" name="contact_name" class="form-control"
                                            [(ngModel)]="contact_name" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="contact_email">Email</label>
                                        <input type="email" id="contact_email" name="contact_email" class="form-control"
                                            [(ngModel)]="contact_email" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="contact_message">Message</label>
                                        <textarea rows="5" id="contact_message" name="contact_message"
                                            class="form-control" [(ngModel)]="contact_message" required></textarea>
                                    </div>

                                    <hr />
                                    <button type="submit" class="btn btn-info">SUBMIT</button>
                                    <button type="reset" class="btn btn-warning">RESET</button>
                                    <hr />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>