<!-- <button (click)="getLocation()">get loaction</button> -->




<div class="card text-center">
    <div class="card-header">
      Weather - <strong>{{name}}</strong>
    </div>
    <div class="card-body">

    
        <div class="row">
            <div class="col-4">Temparature</div>
            <div class="col-2">Feels Like</div>
            <div class="col-2">Min Temp</div>
            <div class="col-2">Max Temp</div>
            <div class="col-2">Humidity</div>
        </div>

        <div class="row">
            <div class="col-4">{{temp | kelvinToFahrenheit}} <span>&#176;f</span> </div>
            <div class="col-2">{{feels_like  | kelvinToFahrenheit}} <span>&#176;f</span> </div>
            <div class="col-2">{{temp_min  | kelvinToFahrenheit}} <span>&#176;f</span> </div>
            <div class="col-2">{{temp_max  | kelvinToFahrenheit}} <span>&#176;f</span> </div>
            <div class="col-2">{{humidity}}%</div>
        </div>


        
     
    </div>
    <div class="card-footer">
        <a (click)="getLocation()" class="btn btn-primary">Update my location</a>
    </div>
  </div>